/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}
body {
    zoom: 1;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    max-width: 1100px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar {
    padding: 10px;
}

.navbar .container {
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    max-width: 1100px;
}

.main-menu ul {
    display: flex;
    list-style: none;
}

.main-menu ul li a {
    padding: 10px;
}

.main-menu ul li a:hover {
    color: rgb(140,140,140);
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: 0.3s;
}

section {
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}

.about-photo-container {
    height: 250px;
    width: 250px;
}

.about-photo {
    width: 100%;
}

.about-text-container {
    max-width: 400px;
    text-align: left;
}

.about-text {
    font-weight: 300;
}

.about-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.about-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
}

.linkedin-about-icon {
    width: 30px;
    height: 30px;
}

.github-about-icon {
    width: 27px;
    height: 27px;
}

.facebook-about-icon {
    width: 26px;
    height: 26px;
}

.twitter-about-icon {
    width: 27px;
    height: 27px;
}

.linkedin-about-icon,
.github-about-icon,
.twitter-about-icon,
.facebook-about-icon {
    transition: 0.2s;
}

.linkedin-about-icon:hover,
.github-about-icon:hover,
.twitter-about-icon:hover,
.facebook-about-icon:hover {
    transform: translate(0, -3px);
    transition: 0.2s;
    cursor: pointer;
}

.about-left-column,
.about-right-column {
    display: flex;
    flex-direction: column;
}

.about-left-column {
    align-content: flex-start;
}

.btn {
    height: 40px;
    width: 100px;
    border-radius: 8px;
    font-weight: 400;
    font-size: smaller;
    text-align: center;
    padding: 8px;
}

.btn.download-resume,
.btn.contact {
    border: blueviolet 1.5px solid;
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}

.btn.download-resume:hover,
.btn.contact:hover {
    background-color: black;
    cursor: pointer;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 70%;
}

.skill-container {
    width: 100px;
    height: 120px;
    border: rgb(55,55,55) 2px solid;
    border-radius: 10px;
    text-align: center;
    cursor: default;
    transition: 0.1s;
}

.skill-container:hover {
    transform: translate(0, -4px);
    transition: 0.1s;
}

.skill-icon {
    width: 80%;
}

.projects-category-bar ul {
    display: flex;
    list-style: none;
    
}

.project-category-btn {
    width: 100px;
    color: rgb(120,120,120);
    background: none;
    border: white 1.5px solid;
    border-radius: 6px;
    padding: 10px;
    margin-inline: 10px;
    cursor: pointer;
}

.project-category-btn:hover {
    color: black;
}

.project-category-btn.active {
    color: black;
    background-color: rgb(250,250,250);
    border: rgb(200,200,200) 1.5px solid;
    transition: 0.1;
}

#projects .container {
    flex-direction: column;
    align-items: center;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: left;
    text-align: left;
    width: 300px;
    height: 240px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px rgb(210,210,210);
    transition: 0.3s;
}

.project-container:hover {
    transform: translate(0, -8px);
    box-shadow: 0px 4px 8px 1px rgb(140,140,140);
    transition: 0.3s;
}

.project-photo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-photo {
    height: 100%;
    width: auto;
}

.project-text-container {
    display: inline;
    position:relative;
}

.project-title {
    font-weight: 400;
    position:relative;
}

.project-description {
    color: rgb(200,200,200);
    font-weight: 300;
    font-size: small;
}

#contact {
    background-color:rgb(241, 171, 41);
}

#contact .section-title {
    color:rgb(251, 242, 231)
}

#contact .container {
    margin-top: 30px;
}

.contact-me-link {
    color: white;
    font-weight: 400;
    font-size:xx-small;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: antiquewhite;
    transition: 0.3s;
    
}

.contact-me-link:hover {
    background-color:burlywood;
    transition: 0.3s;
}

.contact-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.linkedin-contact-icon {
    width: 24px;
    height: 24px;
}

.github-contact-icon {
    width: 22px;
    height: 22px;
}

.facebook-contact-icon {
    width: 21px;
    height: 21px;
}

.twitter-contact-icon {
    width: 22px;
    height: 22px;
}

.btn-cm a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.btn-cm a:hover {
    background-color: white;
    transition: 0.15s;
}

.project-details-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    

}
