/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    max-width: 1100px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    padding: 10px;
}

.navbar .container {
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    max-width: 1100px;
}

.main-menu ul {
    display: flex;
    list-style: none;
}

.main-menu ul li a {
    padding: 10px;
}

.main-menu ul li a:hover {
    color: rgb(140,140,140);
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: 0.3s;
}

section {
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}

.about-photo-container {
    height: 250px;
    width: 250px;
}

.about-photo {
    width: 100%;
}

.about-text-container {
    width: 600px;
    text-align: left;
}

.about-text {
    
}

.about-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    height: 40px;
    width: 100px;
    border-radius: 8px;
}

.btn.download-resume {
    border: blueviolet 1.5px solid;
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}

.btn.contact {
    border: blueviolet 1.5px solid;
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}

.btn.download-resume:hover,
.btn.contact:hover {
    background-color: black;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 70%;
}

.skill-container {
    width: 100px;
    height: 120px;
    border: rgb(55,55,55) 2px solid;
    border-radius: 10px;
    text-align: center;
}

.skill-icon {
    width: 80%;
}

.btn-project-category {
    
}
