/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    max-width: 1100px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    padding: 10px;
}

.navbar .container {
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    max-width: 1100px;
}

.main-menu ul {
    display: flex;
    list-style: none;
}

.main-menu ul li a {
    padding: 10px;
}

.main-menu ul li a:hover {
    color: rgb(140,140,140);
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: 0.3s;
}

section {
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}

.about-photo-container {
    height: 250px;
    width: 250px;
}

.about-photo {
    width: 100%;
}

.about-text-container {
    width: 600px;
    text-align: left;
}

.about-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    height: 40px;
    width: 100px;
    border-radius: 8px;
}

.btn.download-resume {
    border: blueviolet 1.5px solid;
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}

.btn.contact {
    border: blueviolet 1.5px solid;
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}

.btn.download-resume:hover,
.btn.contact:hover {
    background-color: black;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 70%;
}

.skill-container {
    width: 100px;
    height: 120px;
    border: rgb(55,55,55) 2px solid;
    border-radius: 10px;
    text-align: center;
}

.skill-icon {
    width: 80%;
}

.projects-category-bar ul {
    display: flex;
    list-style: none;
    
}

.project-category-btn {
    width: 100px;
    color: rgb(100,100,100);
    background: none;
    border: white 1.5px solid;
    border-radius: 6px;
    padding: 10px;
    margin-inline: 10px;
}

.project-category-btn:hover {
    color: black;
}

.project-category-btn.active {
    color: black;
    background-color: rgb(250,250,250);
    border: rgb(200,200,200) 1.5px solid;
    transition: 0.1;
}

#projects .container {
    flex-direction: column;
    align-items: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: left;
    text-align: left;
    width: 300px;
    height: 240px;
    padding: 10px;
    border-color: black;
    border: solid;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px rgb(210,210,210);
}

.project-container:hover {
    transform: translate(0, -8px);
    box-shadow: 0px 4px 8px 1px rgb(140,140,140);
    transition-duration: 0.3s;
}

.project-photo-container {
    display: flex;
    justify-content: center;
    background-color: red;
    border-color: black;
    border: solid;
    width: 100%;
    height: 100%;
}

.project-text-container {
    display: inline;
    position:relative;
    background-color: green;
}

.project-title {
    font-weight: 400;
    position:relative;
}

.project-description {
    color: rgb(200,200,200);
    font-weight: 300;
    font-size: small;
}

